table, th, tr, td {
    border:1px solid black;
    border-collapse: collapse;
}

table {
    width: 98%;
    table-layout: fixed;
}

tr, th, td {
    height: 30px;
    word-wrap: break-word;
    overflow: hidden;
}

.button {
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: lightgrey;
}

.button:active {
    background-color: gray;
}

th{
    font-size: 11px;
    justify-content: center;
    text-align: center;
}

td{
    font-size: 10px;
    justify-content: center;
    text-align: center;
}

th[id] {
    /* stile per tutti i <th> che hanno un attributo id */
    color: rgb(47, 36, 255) !important;
    text-decoration: underline !important;
    cursor: pointer;
}

th[id]:hover {
    color: rgb(30, 23, 165) !important;
}

th[id]:active {
    color: rgb(16, 12, 88) !important;
}

