/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #333; 
}
/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1% 2%;
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    padding: 3%;
}

nav ul li {
    margin-top: 2%;
    margin-bottom: 2%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flexbox;
}

/* DIV contenuto */
.content{
    padding: 1%;
    margin-left: 0;
    padding-left: 1%;
    background-color: white;
    width: 100%;
}

/* Div contenitore */ 
.divs {
    display: flex;
}

/* DIV Menu */
.menu {
    background-color: #333;
    color: #fff;
    position: relative;
    top: -20px;
    width: fit-content;
    margin-bottom: 0;
    float: left;
}


/* Hover sui Link */
a:hover, #text:hover {
    opacity: 50%;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* */
h2 {
    margin-top: 15px;
    font-size: 30px;
}

p {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

ol li {
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

/* HR */
.hr1 {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: white;  /* old IE */
    background-color: white;  /* Modern Browsers */
}

.hr2 {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: white;  /* old IE */
    background-color: white;  /* Modern Browsers */
}

/* Esercizio A e C*/
.clear {
    background-color: #fff;
    color: black;
}

/* ES A */
.b1 {
    background-color: blue;
    color: white;
}

.b2 {
    background-color: red;
    color: white;
}

.b3 {
    background-color: green;
    color: white;
}

/* ES C */
.hover {
    background-color: black;
    color: white;
}

/* ES F */
.rosso {
    background-color: red;
}

.arancione {
    background-color: orange;
}

.verde {
    background-color: lightgreen;
}

.bianco {
    color: white;
}

textarea {
    resize: none;
}

/* Immagine Menu*/ 
#img:hover {
    opacity: 50%;
}

#image {
    margin-left: 5%;
}

