/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

/* Barra di navigazione*/
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 29px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Contenuto Main */
main {
    background-color: #fff;
    align-items: center;
    padding: 2px;
}

/* Hover sui Link */
a:hover {
    color:royalblue;
}

/* Stile caratteri */ 
h1 {
    margin-bottom: 40px;
}

h2 {
    margin-top: 15px;
    font-size: 30px;
}

p {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

ol li {
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

