#esci {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 140px;
    height: 50px;
    border: 5px solid black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

#esci:hover {
    background-color: rgb(190, 190, 190);
}

#esci:active {
    background-color: rgb(130, 130, 130);
}

/* DIV CONFERMA USCIRE */
#uscire {
    position: absolute;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    left: 33.6%;
    top: 135px
}

.buttons {
    padding: 20px;
    margin:5px;
    border: 2px solid black;
    background-color: white;
}

.buttons:hover {
    background-color: rgb(190, 190, 190);
}

.buttons:active {
    background-color: rgb(130, 130, 130);
}

/* TABELLA */
table, tr, th {
    margin:10px;
    padding: 0;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    height: 45px;
    width: 45px;
}

/* INTERNO TABELLA */
#gioca:hover {
    background-color: rgb(190, 190, 190);
}

#gioca:active {
    background-color: rgb(130, 130, 130);
}

/* DIV TABELLA 1 */
#tab1 {
    justify-content: center;
    margin: 2px;
}

#bottone {
    position:relative;
    left: 41%;
    margin-bottom: 10px;
    padding: 10px;
    margin:5px;
    border: 2px solid black;
    background-color: white;
}

#bottone:hover {
    background-color: rgb(190, 190, 190);
}

#bottone:active {
    background-color: rgb(130, 130, 130);
}


/* DIV TABELLA 2 */
#tab2 {
    justify-content: center;
    margin: 20px;
}

/* SCRITTE TURNI */
#turnoGioc {
    border: 1px solid black;
    background-color: blue;
    color: white;
    padding: 2px;
}

#turnoBOT{
    border: 1px solid black;
    background-color: red;
    color: white;
    padding: 2px;
}

/* CLASSI PER TH ATTACCHI */
.acqua {
    background-color: blue;
    color: white;
}

.nave {
    background-color: red;
    color: white;
}

/* DIV MESSAGGI NAVI */
#pocheNavi {
    position: absolute;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    left: 41%;
    top: 100px
}

#troppeNavi {
    position: absolute;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    left: 43%;
    top: 100px
}

.animazioneNavi {
    animation: Navi 3s;
}

@keyframes Navi {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60%{
        opacity: 0.8;
    }

    65%{
        opacity: 0.7;
    }

    70%{
        opacity: 0.6;
    }

    75%{
        opacity: 0.5;
    }

    80%{
        opacity: 0.4;
    }

    85%{
        opacity: 0.3;
    }

    90%{
        opacity: 0.2;
    }

    95%{
        opacity: 0.1;
    }

    100%{
        opacity: 0;
    }
}

/* DIV VITTORIA E SCONFITTA */
#vinto{
    position: absolute;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    left: 41.5%;
    top: 135px
}

#perso{
    position: absolute;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    left: 41.5%;
    top: 135px
}